In [1]:
print('meu codigo no jupyter atraves do vscode')

meu codigo no jupyter atraves do vscode

In [4]:
import pandas as pd

table = pd.DataFrame(
    {"nome":["David", "Mara", "Ester"],"idade": [32,38,31]}
    )
display(table)

    nome  idade
0  David     32
1   Mara     38
2  Ester     31